@model HealthCatalystPeopleSearch.Models.Home
@{
    ViewBag.Title = "Health Catalyst Person Search";
}

<section class="bg-primary" id="one">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                <h2 class="margin-top-0 text-primary">Begin Your Search</h2>
                <br>
                <div class="search-input-container text-center">
                    <input id="personSearchBox" type="text" class="search-input tt-query" autocomplete="off" spellcheck="false">
                </div>
            </div>
            <div class="div-force-center">
                <div class="col-centered">
                    <button id="loadPerson" type="button" data-toggle="modal" data-target="#viewModal" class="btn btn-primary btn-block btn-sm load-button">Load <i class="ion-android-arrow-forward"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="two">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 text-primary">Enter Person</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="div-force-center">
        <div class="col-centered">
            @{Html.RenderPartial("AddPerson", new HealthCatalystPeopleSearch.Models.Person());}
        </div>
    </div>
</section>
<section class="container-fluid bg-dark" id="three">
    <div class="row">
        <div>
            <h2 class="text-center text-primary">These are the People in the Database</h2>
            <hr>
            <div id="PeopleGridDiv">
                @{Html.RenderPartial("PeopleGrid", Model.persons);}
            </div>
        </div>
        <div class="col-md-12">
            <label></label>
            <button type="button" data-toggle="modal" data-target="#reseedModal" class="btn btn-primary btn-block btn-lg">Reseed <i class="ion-android-arrow-forward"></i></button>
        </div>
    </div>
</section>